body {
    background-color: rgb(87, 87, 207);
}

div.green {
    background-color: green;
}

div.red {
    background-color: rgb(154, 20, 20);
}

.container {
    padding: 1px 0 20px 25px;
    border-radius: 8px;
    box-shadow: 0 1px 5px 1px;
    width: 43%;
    height: auto;
    font-size: 19px;
    margin: auto;
    margin-top: 6%;
    background-color: #fff;
}

.btn {
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    border-radius: 7px;
    width: 70px;
    height: 35px;
    /* text-align: center; */
    background-color: rgb(218, 213, 213);
}

.option {
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    box-shadow: 0 0 2px 0;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;

}

p:hover {
    font-weight: bold;
}


@media screen and (max-width: 568px) {
    .container {
        margin: auto;
        width: 90%;
    }
}