/* .option{
 background-color: aqua;   
} */
.next-button{
  font-size: 30px;
  padding: 25px  30px 25px 30px;
  margin-top: 20px;
  color: antiquewhite;
  background-color: brown;
  border-radius: 20px;
}
 /* .container{
   background-color:wheat ;
   height: auto; 
   width: 100%;
 } */
